@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu';
  margin: 0;
  padding: 0;
  overflow: hidden;
  min-width: 320px;
}